/*
	Styles I'd like to see make it into SQ2
*/

.spreadable--center {
	@include justify-content(center);
}

.runningText img {
	max-width: 100%;
}

.toggleButton--lg .toggleButton-label {
	font-size: 16px !important;
}

.input--withIcon {
	background-position: $space-half center;
	background-repeat: no-repeat;
	background-size: $media-xs;
	padding-left: $media-xs + $space;
}

.input--withIcon--right {
	background-position: calc(100% - 8px) center; // handle `calc` for meh browsers
	padding-left: $space;
	padding-right: $media-xs + $space;
}

.buttonList--small li {
	padding-bottom: $space-half;
}

.attachment .row-item:first-child {
	padding-left: 0;
}

.toggleButton-input:checked + .toggleButton-label:hover {
	color: $C_link;
	use {
		fill: $C_link;
	}
}

._tweaks_atMedium_display--inlineFlex {
	@include atMediaUp(medium) {
		@include display(inline-flex);
	}
}

._hack_card--group--empty { // Hack to not show the scrim on empty-state cards
	&:before {
		display: none;
	}
}

._tweak_text--heavy { // allows this text to be bold even on `.text--big` where font-weight is set to $W_medium
	font-weight: $W_bold;
	.inverted & {
		font-weight: $W_bold;
	}
}

._tweak_atMedium_display--flex {
	@include atMediaUp(medium) {
		display: flex;
	}
}

$dotTimeBase: 500;
.endlessLoader, .endlessLoader:before, .endlessLoader:after {
	-webkit-animation: dotAnim #{$dotTimeBase}ms ease -#{$dotTimeBase/4}ms infinite alternate;
	animation: dotAnim #{$dotTimeBase}ms ease -#{$dotTimeBase/4}ms infinite alternate;
	background: $C_border;
	border-radius: 100%;
	content: "";
	height: $space-half;
	position: relative;
	width: $space-half;
}

.endlessLoader:before {
	position: absolute;
	left: -$space;
	-webkit-animation: dotAnim #{$dotTimeBase}ms ease -#{$dotTimeBase/2}ms infinite alternate;
	animation: dotAnim #{$dotTimeBase}ms ease -#{$dotTimeBase/2}ms infinite alternate;
}

.endlessLoader:after {
	position: absolute;
	left: $space;
	-webkit-animation: dotAnim #{$dotTimeBase}ms ease infinite alternate;
	animation: dotAnim #{$dotTimeBase}ms ease infinite alternate;
}
@-webkit-keyframes dotAnim {
	to {
		background: black;
		box-shadow: -1px 0 0 1px $C_textPrimary;
	}
}
@keyframes dotAnim {
	to {
		background: black;
		box-shadow: -1px 0 0 1px $C_textPrimary;
	}
}

.atLarge_margin--left {
	@include atMediaUp(large) {
		margin-left: $space;
	}
}

/*
-----------------------------
	NEW: ANIMATION
-----------------------------
// TODO: This isn't at all scalable yet.
//       Come up with plan for animations in SQ3.
*/

/* NEW: _transitions.scss */
$trans-dur   : 300ms;
$trans-curve : ease-in;

.trans {
	@include transition-duration($trans-dur);
	@include transition-timing-function($trans-curve);
}

.trans--fadeOut {
	@include transition-property(opacity);
	opacity: 0;
}

.trans--fadeIn {
	@include transition-property(opacity);
	opacity: 1;
}

.trans--fadeOutLeft {
	@include transition-property(transform, opacity);
	@include transform(translateX(-50px));
	opacity: 0;
}

.trans--fadeInLeft {
	@include transition-property(transform, opacity);
	@include transform(translateX(0px));
	opacity: 1;
}
